* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

:root {
  --project-tile: black;
  --navbar: #404040;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

.remove-underline {
  text-decoration: none;
}

/* Welcome Section */

#welcome-section {
  height: 100vh;
  width: 100%;
  background-color: #6600cc;
  text-align: center;
}

h1, h3 {
  position: relative;
  top: 45%;
}

h2 {
  font-style: italic;
  text-align: center;
  padding-top: 60px;
}

h4 {
  text-align: center;
}

/* Nav Section */

ul {
  list-style-type: none;
  padding-right: 5%;
  padding-top: 1.5%;
}

li a {
  color: black;
  text-decoration: none;
  padding: 0 10px 0;
  border-right: solid 2px black;
  float: right;
  text-align: center;
}

li a:hover {
  background-color: #8c8c8c;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--navbar);
  z-index: 10;
}

/* Projects Section */

.project-header {
padding-bottom: 30px;
}

#projects {
  position: absolute;
  background-color: #009900;
  height: 100vh;
  width: 100%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-title {
  color: white;
  font-size: 20px;
  padding: 10%;
  text-align: center;
}

.project-tile {
  background: var(--project-tile);
}

.project-img {
  object-fit: cover;
  height: 20px;
  width: 100%;
}

/* Contact Section */

#contact {
  background-color:  black;
  position: relative;
  height: 100vh;
  width: 100%;
  top: 97vh;
}

.contact-header {
  text-align: center;
  top: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 75%;
  width: 90%;
}
